# Task -2 .Calculate summary statistics

Calculate summary statistics (mean, median,
mode, standard deviation) for a dataset

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
df=pd.read_csv("titanic_clean_task1.csv")

In [7]:
df

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1.0,0,A/5 21171,7.2500,B96 B98,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1.0,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0.0,0,STON/O2. 3101282,7.9250,B96 B98,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1.0,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0.0,0,373450,8.0500,B96 B98,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0.0,0,211536,13.0000,B96 B98,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0.0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1.0,2,W./C. 6607,23.4500,B96 B98,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0.0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0.0,0,370376,7.7500,B96 B98,Q

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Gender       891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    float64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(3), int64(4), object(5)
memory usage: 83.7+ KB

In [4]:
df.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Gender         0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [9]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.386083,2.308642,29.376817,0.426487,0.381594,32.204208
std,257.353842,0.487123,0.836071,12.062035,0.708246,0.806057,49.693429
min,1.000000,0.000000,1.000000,2.500000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,22.000000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,29.699118,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,54.500000,2.500000,6.000000,512.329200

In [10]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Gender', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

# 1.PassengerId

In [11]:
df['PassengerId']

0        1
1        2
2        3
3        4
4        5
      ...
886    887
887    888
888    889
889    890
890    891
Name: PassengerId, Length: 891, dtype: int64

In [22]:
mean=df['PassengerId'].mean()
median=df['PassengerId'].median()
mode=df['PassengerId'].mode()[0]
std=df['PassengerId'].std()
print("mean :",mean)
print("median :",median)
print("mode :",mode)
print("std :",std)

mean : 446.0
median : 446.0
mode : 1
std : 257.3538420152301

# 2.Survived

In [21]:
mean=df['Survived'].mean()
median=df['Survived'].median()
mode=df['Survived'].mode()[0]
std=df['Survived'].std()
print("mean :",mean)
print("median :",median)
print("mode :",mode)
print("std :",std)

mean : 0.38608305274971944
median : 0.0
mode : 0
std : 0.4871234412621431

# 3.Pclass

In [23]:
mean=df['Pclass'].mean()
median=df['Pclass'].median()
mode=df['Pclass'].mode()[0]
std=df['Pclass'].std()
print("mean :",mean)
print("median :",median)
print("mode :",mode)
print("std :",std)

mean : 2.308641975308642
median : 3.0
mode : 3
std : 0.8360712409770513

# 5.Gender

In [29]:
mode=df['Gender'].mode()[0]
mode

'male'

# 6.Age

In [32]:
mean=df['Age'].mean()
median=df['Age'].median()
mode=df['Age'].mode()[0]
std=df['Age'].std()
print("mean :",mean)
print("median :",median)
print("mode :",mode)

mean : 29.376816861424704
median : 29.69911764705882
mode : 29.69911764705882

# 7.SibSp

In [35]:
mean=df['SibSp'].mean()
median=df['SibSp'].median()
mode=df['SibSp'].mode()[0]
std=df['SibSp'].std()
print("mean :",mean)
print("median :",median)
print("mode :",mode)

mean : 0.4264870931537598
median : 0.0
mode : 0.0

# 8.Parch

In [37]:
mean=df['Parch'].mean()
median=df['Parch'].median()
mode=df['Parch'].mode()[0]
std=df['Parch'].std()
print("mean :",mean)
print("median :",median)
print("mode :",mode)

mean : 0.38159371492704824
median : 0.0
mode : 0

# 9.Fare

In [38]:
mean=df['Fare'].mean()
median=df['Fare'].median()
mode=df['Fare'].mode()[0]
std=df['Fare'].std()
print("mean :",mean)
print("median :",median)
print("mode :",mode)

mean : 32.204207968574636
median : 14.4542
mode : 8.05

# 10.Cabin

In [41]:
mode=df['Cabin'].mode()[0]
print("mode :",mode)

mode : B96 B98

# 11.Embarked

In [43]:
mode=df['Embarked'].mode()[0]
print("mode :",mode)

mode : S

# Done